body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #2B2C2C;
}

.navbar {
  background: #2B2C2C;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 27px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

li {
  color: #fff;
  margin-right: 25px;
}

li:hover {
  color: #feb633;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #feb633;
  cursor: pointer;
}

/* Underline animations */
li>a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

li>a:hover {
  color: #feb633;
}

li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #feb633;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li>a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*  */
.svg {
  padding-left: 10px;
}

.banner-container {
  background: #2B2C2C;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.banner-image {
  width: auto;
  height: 532px;
  padding-right: 1vw;
}

.banner-header {
  font-size: 70px;
  font-family: Poppins, sans-serif;
  color: #fff;
  margin-bottom: 0;
}

.banner-text {
  color: #ccc;
  font-size: 23px;
  font-family: Poppins, sans-serif;
  margin-top: 5px;
}

.banner-button {
  width: 229px;
  background: #BC8B31;
  border-radius: 5px;
  height: 64px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.banner-button:focus {
  outline: none;
}

.banner-button:hover {
  cursor: pointer;
}

.banner-container .right-container {
  display: flex;
  align-items: center;
}

.banner-container .left-container {
  display: flex;
  align-items: center;
}

.typography {
  padding-left: 5vw;
}

.about-container {
  background: #303131;
  
}
.about-container .flex-container {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-header {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: #FFFFFF;
}

.about-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.about-container .right-container {
  width: 60%;
}

.left-container {
  width: 40%;
}

.outline {
  color: #bc8b31;
  background: transparent;
  border: 4px solid;
  margin-left: 40px;
}

.about-container {
  padding: 100px 0;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 170px;
  margin: 0 auto;
}

.header-container {
  background-image: url(/assets/about-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.line {
  height: 4px;
  background: #bc8b31;
  width: 76%;
  margin-top: -34px;
}
/* Footer section */
p.text-center.text-muted {
    margin: 0;
    padding: 2% 0;
    text-align: center;
    background: #2b2c2c;
    color: #fff;
}
p.text-center.text-muted span.brand {
    color: #bc8b31;
}
/* Services Section */
.top-container {
  text-align: center;
}

.entry .header {
  font-size: 23px;
  margin-bottom: 20px;
  color: #fff;
  margin-left: 24px;
}

.service-line {
  height: 4px;
  background: #bc8b31;
  width: 11%;
  margin: auto;
  margin-top: -36px;
}

.services-header {
  padding-top: 30px;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: #FFFFFF;
}

.services-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
  width: 61%;
  margin: 25px auto;
}

.services-container {
  background: #2B2C2C;
}

.services-header {
  padding-top: 30px;
  margin-top: 0px;
}

.entry {
  width: 566px;
  height: 314px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.entry .header {}

.entry .text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 24px;
}

.entry .icon {
  margin: 24px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

/* Recent Works Section */
.recent-works-container {
  background: #303131;
}

.company-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(222, 161, 50, 0.58);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  height: 100%;
}

.company-image-overlay .text {
  color: #fff;
  font-size: 20px;
  display: block !important;
}

.tile {
  position: relative;
  width: 407px;
  height: auto;
  margin-bottom: 12px;
  margin-right: 12px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

#portfolio {
  display: flex;
  flex-flow: wrap;
  padding: 0 4%;
  min-height: 236px;
}

.overlay-header {
  margin: 15% auto;
  margin-bottom: 10px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
}

.overlay-text {
  margin: 15% auto;
  margin-top: 0;
  color: #fff;
  width: 50%;
}

ul.portfolio {
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 65px;
}

ul.portfolio li {
    margin-right: 77px;
}
li.sort.active {
    color: #feb633;
}
li.sort.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #feb633;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  visibility: visible;
  transform: scaleX(1);
}
li.sort.active {
    color: #feb633;
}
li.sort {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

li.sort:hover {
  color: #feb633;
}

li.sort::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #feb633;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li.sort:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Work Experience Section */
.work-experience-contianer {
    background: #2B2C2C;
    padding: 59px 0;
}
.work-experience-top-container h2.work-experience-header {
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 43px;
line-height: 64px;
text-align: center;
color: #FFFFFF;
}

.work-experience-top-container p.work-experience-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #9F9F9F;
}

.work-experience-entry {
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 30%;
    padding: 70px 30px;
}

.work-experience-entry .work-experience-date {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #747472;
}

.work-experience-entry .work-experience-header {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 10px;
}

.work-experience-entry .work-experience-company {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #747472;
    margin-top: 10px;
}

.work-experience-entry .work-experience-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
    margin-top: 15px;
}
.work-experience-entries-container {
    display: flex;
    width: 93%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 70px;
}

/* Work Experience Hover States */
.work-experience-entry:hover {
    background: #FEC110;
}

.work-experience-entry:hover .work-experience-header {
    color: #32333C !important;
}

.work-experience-entry:hover .work-experience-text {
  color: #32333C !important;
}

/* Prompt Styling */
.prompt-container {
    background: #303131;
    padding: 2% 3% 3%;
}
.prompt-container h2.prompt-header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

button.banner-button.prompt {
    background: #fff;
    color: #000;
}
/* Contact Section */
.contact-container {
    background: #2B2C2C;
    display: flex;
    justify-content: space-evenly;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#fff;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #fff;
	color: #fff;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
      width: 229px;
      background: #BC8B31;
      border-radius: 5px;
      height: 64px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #FFFFFF;
      border: none;
}

#button-blue:hover{
	background-color: #fff;
	color: #BC8B31;
}

.submit:hover {
	color: #3498db;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

form#form1 {
    min-width: 696px;
}

.left-contact-container .contact-information ul {
    display: block;
    margin: 0;
    padding: 0;
}

.contact-item-container {
    display: flex;
    align-items: center;
}

.right-contact-container .contact-form form#form1 p input {
   background: #363737;
}

.right-contact-container .contact-form form#form1 p textarea {
   background: #363737;
}
.services-container {
    background: #2B2C2C;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h3.contact-header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.contact-information ul li .contact-item-container .icon {
    margin-right: 30px;
}
.contact-information ul li .contact-item-container {
    padding-bottom: 50px
}
.recent-works-container .inner-container {
      width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 25px;
}
.contact-container {
       width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 25px;
}

nav.navbar.navbar-default .container-fluid .mobile-container {
    display: none;
}

/* Media Queries */
@media (min-width: 1200px) {
  .banner-container {
    max-width: 1140px;
  }
   .about-container .flex-container {
    max-width: 1140px;
  }
  .services-container {
    max-width: 1242px;
  }
  .recent-works-container .inner-container {
    max-width: 1140px
}
.contact-container {
    max-width: 1330px;
  }
}

@media (max-width: 750px) {
nav.navbar.navbar-default .container-fluid .right-container {
    display: none;
}
nav.navbar.navbar-default .container-fluid .mobile-container {
    display: block;
}
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
span.hamburger-inner {
    background: #fff;
}

span.hamburger-inner::after {
    background: #fff;
}

span.hamburger-inner::before {
    background: #fff;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.mobile-menu ul {
    width: 200px;
    position: absolute;
    right: 11px;
    display: flex;
    flex-flow: column;
}

.mobile-menu ul li {
    text-align: right;
    padding: 15px 0;
}