<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); -%>
  </header>

  <main>
    <div class="feature-container">
      <img src="/assets/beyond.png" alt="" class="feature-image">
    </div>
    <div class="banner-container project">
      <div class="left-container project">
        <div class="project-description__container">
          <h2>Project</h2>
          <p>Some random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random testSome random
            test</p>
        </div>
      </div>
      <div class="right-container">
        <div class="links">
          <button class="banner-button portfolio-button">
            View Works
          </button>
          <button class="banner-button outline">
            Download CV
          </button>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); -%>
  </footer>

</body>

</html>
