/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  font-family: "Geologica", sans-serif;font-optical-sizing: auto;font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
 }
body {
    background: #0a1217 !important;
}