<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="left-container">
      <a href="/">
        <div class="svg">
            <img src="../assets/logo-white.png" alt="">
        </div>
      </a>
    </div>
    <div class="right-container">
      <ul>
        <li id="home">
          <a>Home</a>
        </li>
        <li id="about">
          <a>About Me</a>
        </li>
        <!-- <li id="service">
          <a>Services</a>
        </li> -->
        <li id="port">
          <a>Portfolio</a>
        </li>
        <li id="contact">
          <a>Contact</a>
        </li>
      </ul>
    </div>
    <div class="mobile-container">
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="mobile-menu">
        <ul>
        <li id="home-mobile">
          <a>Home</a>
        </li>
        <li id="about-mobile">
          <a>About Me</a>
        </li>
        <!-- <li id="service-mobile">
          <a>Services</a>
        </li> -->
        <li id="port-mobile">
          <a>Portfolio</a>
        </li>
        <li id="contact-mobile">
          <a>Contact</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
